rules_version = '2';

service firebase.storage {
  match /b/{bucket}/o {
    // No rules are defined as client-side uploads are not used for profile images.
    // Base64 encoding is used instead.
  }
}
